.websheet {
    overflow: auto;
}

.websheet table {
    position: relative;
    left: 0px;
    table-layout: fixed;
    border-spacing: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

.websheet th,
.websheet td {
    background: white;
    border: 0px solid #dadada;
    border-right-width: 1px;
    border-bottom-width: 1px;
    font: normal 13px arial,sans-serif;
    padding: 8px;
}

.websheet th,
.websheet td:first-child {
    background: #f3f3f3;
    border-color: #cccccc;
    text-align: center;
}

.websheet th {
    position: relative;
}

.websheet th:after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -3px;
    bottom: 0;
    width: 6px;
    cursor: ew-resize;
    z-index: 1000;
    background: #4d90fe;
    transition: opacity .15s;
}

.websheet th.resizable:after {
    opacity: 1;
}

.websheet td.selected {
    background: #ecf3ff;
}

.websheet th.selected,
.websheet td.selected:first-child {
    background: #dddddd;
}
